<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <body>
    <div class="container">
      <header></header>
      <nav></nav>
      <section class="posts">
        <%= yield %>
      </section>
      <footer></footer>
    </div>
    <script src="/javascripts/application.js"></script>
  </body>
</head>
</html>
