@import "normalize";

@import "variables";
@import "mixins";
@import "typography";
@import "grid";

body {
  padding: 0 1em;
  margin: 0;
  background: url("../images/brickwall.png");
}

.container {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0;
}
