@import "normalize";

@import "variables";
@import "mixins";
@import "typography";
@import "grid";

body {
  padding: 0 1em;
  margin: 0;
}
.container {
  @include row;
}
header {
  h1 {
    a,
    a:hover,
    a:visited,
    a:focus {
      color: $black;
      text-decoration: none;
    }
  }

  h2 {
    font-size: 1.6em;
  }

  h1,
  h2 {
    display: inline-block;
  }
}
.post,
.talk {
  padding: 20px;
  border-bottom: 1px dotted;
}
.post-title,
.talk-title {
  float: left;
  a,
  a:hover,
  a:visited,
  a:focus {
    text-decoration: none;
    color: $blue;
  }
}
.post-content,
.talk-description {
  clear: both;
}
.post-date {
  float: right;
  margin: 10px 0;
}
.post-link {
  clear: both;
  a,
  a:hover,
  a:visited,
  a:focus {
    color: $black;
  }
}
.menu-list {
  margin: 0;
  padding: 10px 20px;
  list-style-type: none;
}

.menu-item {
  display: inline;
}

.menu-link {
  text-transform: uppercase;
  color: $black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
