@import "normalize";

@import "variables";
@import "mixins";
@import "typography";
@import "grid";

body {
  padding: 0 1em;
  margin: 0;
}

.container {
  @include row;
}

.post {
  section {
    margin-top: 25px;
  }
}
